name: Releases

on:
  push:
    branches:
      - '*'
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  linux:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          check-latest: true
          
      - name: Setup Buildtools
      # You may pin to the exact commit or the version.
      # uses: buildtool/setup-buildtools-action@e081b64bf57ab25b64762e358f8a0dadd15500c6
        uses: buildtool/setup-buildtools-action@v1.0.0

      - name: Setup Android NDK
      # You may pin to the exact commit or the version.
      # uses: nttld/setup-ndk@afb4c9964b521afb97c864b7d40b11e6911bd410
        uses: nttld/setup-ndk@v1.5.0
        with:
          # Exact version to use
          ndk-version: r26d
    # Add installation directory to the PATH
      #- name: Install latest build tools
      #  run: |
      #    echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "build-tools;33.0.1" --sdk_root=${ANDROID_SDK_ROOT}

      #- name: Install NDK
      #  run: |
      #    echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;25.2.9519653" --sdk_root=${ANDROID_SDK_ROOT}

      - name: Gradle Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleDebug
          gradle-home-cache-cleanup: true

      - name: Uploading Artifact
        uses: actions/upload-artifact@v3
        with:
          path: ./app/build/outputs/apk/debug/app-debug.apk
          github-token: ${{secrets.FORBD}}
          tag_name: ${{ env.BRANCH_NAME }}-${{ steps.commit.outputs.short }}

      - name: Releases
        uses: softprops/action-gh-release@v1
        with:
          body: Bump Version
          files: |
            ./app/build/outputs/apk/debug/app-debug.apk
          tag_name: ${{ env.BRANCH_NAME }}-${{ steps.commit.outputs.short }}
